<tr class='holding-header' id="bond-holding-{{ id }}" data-holding-id={{id}} data-holding-type='bond'>
  <td>S</td>
  <td>{{ ticker_symbol }}</td>
  <td>{{ net_units }}</td>
  <td>{{ net_investment }}</td>
  <td>{{ net_return }}</td>
  <td>{{ todays_price }}</td>
  <td>{{ todays_value }}</td>
  <td>{{ total_value_gain }}</td>
</tr>
<tr>
  <td colspan=8 class='holding-drawer>
    <div class='bond-events' id="bond-events-for-holding-{{ id }}" data-bond-holding-id={{id}} style='display:none'>
      <a href='#' class='edit-holding' data-holding-id={{id}} data-security-name='bond'>Edit |</a>
      <a href='#' class='delete-bond-holding' data-holding-id={{id}}>Remove</a>
      <ul class='bond-buys' id="bond-buys-for-holding-{{ id }}" data-bond-holding-id={{id}}>
        <li>Started with {{starting_units}} units at {{starting_price}} on {{purchased_on}}</li>
      </ul>
      <ul class='bond-sells' id="bond-sells-for-holding-{{ id }}" data-bond-holding-id={{id}}>
      </ul>
    </div>
  </td>
</tr>


