<td>{{action}}</td>
<td>{{units}}</td>
<td>{{price}}</td>
<td>{{investment}}</td>
<td>{{roi}}</td>
<td>{{units_to_date}}</td>
<td>{{value_to_date}}</td>
<td>{{executed_on}}</td>
<td><a class='delete-event' data-id={{id}} href='#'>X</a></td>
