_stock_holding.html.mustache<tr id="holding-{{ id }}-today">
  <td>{{ ticker_symbol }}</td>
  <td>{{ net_shares }}</td>
  <td>{{ net_investment }}</td>
  <td>{{ net_return }}</td>
  <td>{{ todays_price }}</td>
  <td>{{ todays_value }}</td>
  <td>{{ total_gain }}</td>
  <td>{{ day_price_gain_delta }}/{{ week_price_gain_delta }}/{{ one_month_price_gain_delta }}/{{ three_month_price_gain_delta }}/{{ six_month_price_gain_delta }}/{{ nine_month_price_gain_delta }}/{{ one_year_price_gain_delta }}/{{ two_year_price_gain_delta }}/{{ three_year_price_gain_delta }}</td>
  <td></td>
</tr>
