<tr class='holding-header' id="fund-holding-{{ id }}" data-holding-id={{id}} data-holding-type='fund'>
  <td>S</td>
  <td>{{ ticker_symbol }}</td>
  <td>{{ net_units }}</td>
  <td>{{ net_investment }}</td>
  <td>{{ net_return }}</td>
  <td>{{ todays_price }}</td>
  <td>{{ todays_value }}</td>
  <td>{{ total_value_gain }}</td>
</tr>
<tr>
  <td colspan=8 class='holding-drawer'>
    <div class='fund-events' id="fund-events-for-holding-{{ id }}" data-fund-holding-id={{id}} style='display:none'>
      <a href='#' class='add-event' data-holding-id={{id}} data-security-name='fund' data-event-type='buy'>Bought Shares |</a>
      <a href='#' class='add-event' data-holding-id={{id}} data-security-name='fund' data-event-type='sell'>Sold Shares |</a>
      <a href='#' class='edit-fund-holding' data-holding-id={{id}}>Edit |</a>
      <a href='#' class='delete-fund-holding' data-holding-id={{id}}>Remove</a>
      <ul class='fund-buys' id="fund-buys-for-holding-{{ id }}" data-fund-holding-id={{id}}>
        <li>Started with {{starting_units}} units at {{starting_price}} on {{purchased_on}}</li>
      </ul>
      <ul class='fund-sells' id="fund-sells-for-holding-{{ id }}" data-fund-holding-id={{id}}>
      </ul>
    </div>
  </td>
</tr>
