<tr id="holding-{{ id }}-today">
  <td>{{ name }}</td>
  <td>
    <a href='#' class='add-multi-statement' data-holding-id={{id}}>Add Statement |</a>
    <a href='#' class='edit-multi-holding' data-holding-id={{id}}>Edit |</a>
    <a href='#' class='delete-multi-holding' data-holding-id={{id}}>Remove</a>
  </td>
</tr>
