<tr>
  <td>></td>
  <td>{{formatted_starting_balance}}</td>
  <td>{{started_on}}</td>
  <td>{{formatted_ending_balance}}</td>
  <td>{{ended_on}}</td>
  <td>{{formatted_contributions}}</td>
  <td><a href='#'>X</a></td>
</tr>
<tr id='allocations-for-multi-statement-{{id}}' >
  <td colspan=7>
    Allocation Breakdown
    <ul>

    </ul>
  </td>
</tr>


