<tr class='holding-header' id="multi-holding-{{ id }}" data-holding-id={{id}} data-holding-type='multi'>
  <td>{{ name }}</td>
</tr>
<tr>
  <td colspan=8 class='holding-drawer'>
    <div class='multi-events' id="multi-events-for-holding-{{ id }}" data-multi-holding-id={{id}} style='display:none'>
      <a href='#' class='add-multi-statement' data-holding-id={{id}}>Add Statement |</a>
      <a href='#' class='edit-multi-holding' data-holding-id={{id}}>Edit |</a>
      <a href='#' class='delete-multi-holding' data-holding-id={{id}}>Remove</a>
    </div>
  </td>
</tr>


