<tr class='holding-header' id="stock-holding-{{ id }}" data-holding-id={{id}} data-holding-type='stock'>
  <td class='arrow'>></td>
  <td>{{ ticker_symbol }}</td>
  <td>{{ net_shares }}</td>
  <td class="{{formatted_net_investment_class}}">{{ formatted_net_investment }}</td>
  <td class='{{formatted_net_return_class}}'>{{ formatted_net_return }}</td>
  <td class='{{formatted_todays_price_class}}'>{{ formatted_todays_price }}</td>
  <td class='{{formatted_todays_value_class}}'>{{ formatted_todays_value }}</td>
  <td class='{{formatted_total_value_gain_class}}'>{{ formatted_total_value_gain }}</td>

</tr>
<tr>
  <td colspan=8 class='holding-drawer'>
    <div class='stock-events' id="stock-events-for-holding-{{ id }}" data-stock-holding-id={{id}} style='display:none'>
      <a href='#' class='add-event' data-holding-id={{id}} data-security-name='stock' data-event-type='buy'>BOUGHT {{symbol}} SHARES |</a>
      <a href='#' class='add-event' data-holding-id={{id}} data-security-name='stock' data-event-type='sell'>SOLD {{symbol}} SHARES |</a>
      <a href='#' class='edit-holding' data-holding-id={{id}} data-security-name='stock'>EDIT |</a>
      <a href='#' class='delete-stock-holding' data-holding-id={{id}}>REMOVE</a>
      <div>
        <div style='width:50%;float:left'>
          <div id='stock-graph-for-holding-{{id}}'></div>
        </div>
        <div style='width:50%;float:left'>
          <p>{{name}} ({{symbol}})</p>
          <p>{{summary}}</p>
        </div>
      </div>
      <div>
        <p>History</p>
        <table id="stock-events-for-holding-{{ id }}" data-stock-holding-id={{id}}>
          <thead>
            <tr>
              <th>Action</th>
              <th>Shares</th>
              <th>Price</th>
              <th>Investment</th>
              <th>Return</th>
              <th>Shares After</th>
              <th>Value After</h>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Buy</td>
              <td>{{starting_shares}}</td>
              <td>{{starting_price}}</td>
              <td>{{starting_investment}}</td>
              <td>0</td>
              <td>{{starting_shares}}</td>
              <td>{{starting_investment}}</td>
              <td>{{purchased_on}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </td>
</tr>

<tr>
<td>

</td>
</tr>

