<tr class='holding-header' id="stock-holding-{{ id }}" data-holding-id={{id}} data-holding-type='stock'>
  <td>S</td>
  <td>{{ ticker_symbol }}</td>
  <td>{{ net_shares }}</td>
  <td>{{ net_investment }}</td>
  <td>{{ net_return }}</td>
  <td>{{ todays_price }}</td>
  <td>{{ todays_value }}</td>
  <td>{{ total_value_gain }}</td>

</tr>
<tr>
  <td colspan=8 class='holding-drawer'>
    <div class='stock-events' id="stock-events-for-holding-{{ id }}" data-stock-holding-id={{id}} style='display:none'>
      <a href='#' class='add-event' data-holding-id={{id}} data-security-name='stock' data-event-type='buy'>Bought Shares |</a>
      <a href='#' class='add-event' data-holding-id={{id}} data-security-name='stock' data-event-type='sell'>Sold Shares |</a>
      <a href='#' class='edit-holding' data-holding-id={{id}} data-security-name='stock'>Edit |</a>
      <a href='#' class='delete-stock-holding' data-holding-id={{id}}>Remove</a>
      <ul class='stock-buys' id="stock-buys-for-holding-{{ id }}" data-stock-holding-id={{id}}>
        <li>Started with {{starting_shares}} shares at {{starting_price}} on {{purchased_on}}</li>
      </ul>
      <ul class='stock-sells' id="stock-sells-for-holding-{{ id }}" data-stock-holding-id={{id}}>
      </ul>
    </div>
  </td>
</tr>

