<tr id="holding-{{ id }}-today">
  <td>{{ ticker_symbol }}</td>
  <td>{{ net_shares }}</td>
  <td>{{ net_investment }}</td>
  <td>{{ net_return }}</td>
  <td>{{ todays_price }}</td>
  <td>{{ todays_value }}</td>
  <td>{{ total_gain }}</td>
</tr>
