<td class='arrow'>></td>
<td>{{ ticker_symbol }}</td>
<td>{{ net_units }}</td>
<td class="{{formatted_net_investment_class}}">{{ formatted_net_investment }}</td>
<td class="{{formatted_net_return_class}}">{{ formatted_net_return }}</td>
<td class="{{formatted_todays_price_class}}">{{ formatted_todays_price }}</td>
<td class="{{formatted_todays_value_class}}">{{ formatted_todays_value }}</td>
<td class="{{formatted_total_value_gain_class}}">{{ formatted_total_value_gain }}</td>

