<div class="portfolio-content" id="{{name}}">
  <table>
  <tr>
  <td>
  <h3>{{name}}</h3>
  </td>
  </tr>
  </table>


  <table id='portfolio-holding-{{ id }}'>
    <thead>
      <tr class='super_head'>
        <th></th>
        <th colspan=3>Totals</th>
        <th colspan=2>Today's</th>
        <th colspan=3>Gain/Loss</th>
      </tr>
      <tr class='sub_head'>
        <th>Sym</th>
        <th scope="col">Shares</th>
        <th scope="col">Investment</th>
        <th scope="col">Return</th>
        <th scope="col">Price</th>
        <th scope="col">Value</th>
        <th scope="col">Total Gain</th>
        <th scope="col">D?/W?/1M?/3M?/6M?/9M?/1Y?/2Y?/3Y?</th>
        <th scope="col">Dow/S&P/Sav/Infl</th>
      </tr>
    </thead>
  </table>
  <div id='chart_gainloss_{{ id }}'></div>
  <div id='chart_index_{{ id }}'></div>
</div>