<div class='portfolio-content' id="portfolio-content-{{id}}">
<h3>{{name}}</h3>
Plan: {{portfolio-plan}}
Strategy: {{portfolio-strategy}}
  <div class='overview'>
    <p>Add:
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='stock'>
        <img src='/images/stock.gif'/>
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='fund'>
        <img src='/images/fund.gif'/>
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='bond'>
        <img src='/images/bond.gif'/>
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='etf'>
        <img src='/images/etf.gif'/>
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='cd'>
        <img src='/images/cd.gif'/>
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='multi'>
        <img src='/images/401k.gif'/>
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='multi'>
        <img src='/images/ira.gif'/>
      </a>
  </div>


  <div class='security-module' id='portfolio-stocks-{{ id }}' style='display:none'>
    <table class='stock-content' id='portfolio-stock-holding-{{ id }}'>
      <thead>
        <tr><th colspan=8 class='portfolio-header'>Stocks</td></tr>
        <tr>
          <th></th>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Investment</th>
          <th>Return</th>
          <th>Price</th>
          <th>Value</th>
          <th>Gain</th>
        </tr>
      </thead>
    </table>
  </div>


  <div class='security-module' id='portfolio-funds-{{ id }}' style='display:none'>
    <table class='fund-content' id='portfolio-fund-holding-{{ id }}'>
      <thead>
        <tr><th colspan=8 class='portfolio-header'>Funds</td></tr>
        <tr>
          <th></th>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Investment</th>
          <th>Return</th>
          <th>Price</th>
          <th>Value</th>
          <th>Gain</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class='security-module' id='portfolio-etfs-{{ id }}' style='display:none'>
    <table class='etf-content' id='portfolio-etf-holding-{{ id }}'>
      <thead>
        <tr><th colspan=8 class='portfolio-header'>ETFs</td></tr>
        <tr>
          <th></th>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Investment</th>
          <th>Return</th>
          <th>Price</th>
          <th>Value</th>
          <th>Gain</th>
        </tr>
      </thead>
    </table>
  </div>


  <div class='security-module' id='portfolio-bonds-{{ id }}' style='display:none'>
    <table class='bond-content' id='portfolio-bond-holding-{{ id }}'>
      <thead>
        <tr><th colspan=8 class='portfolio-header'>Bonds</td></tr>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Face Value</th>
          <th>Today's Value</th>
          <th>Gain</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class='security-module' id='portfolio-cds-{{ id }}' style='display:none'>
    <table class='cd-content' id='portfolio-cd-holding-{{ id }}'>
      <thead>
        <tr><th colspan=8 class='portfolio-header'>CDs</td></tr>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Face Value</th>
          <th>Today's Value</th>
          <th>Gain</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class='security-module' id='portfolio-multis-{{ id }}' style='display:none'>
    <table class='multi-content' id='portfolio-multi-holding-{{ id }}'>
      <tr><th colspan=8 class='portfolio-header'>Retirement</td></tr>
    </table>
  </div>

</div>