<div class='show-module' id="portfolio-content-{{id}}">

  <div class='security-module portfolio-header'>
    <table>
      <tr>
        <td><h3>{{name}}</h3>
        <td>{{portfolio-plan}}</td>
        <td>{{portfolio-strategy}}</td>
        <td class='{{formatted_total_value_class}} number'>{{formatted_total_value}}</td>
        <td class='{{formatted_total_value_gain_class}} number'>{{formatted_total_value_gain}}</td>
        <td class='{{formatted_total_gain_ratio_class}} number'>{{total_gain_ratio}}%</td>
      </tr>
    </table>
  </div>

  <div class='overview'>
    <p>ADD:
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='stock'>
        STOCK
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='fund'>
        FUND
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='bond'>
        BOND
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='etf'>
        ETF
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='cd'>
        CD
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='multi'>
        401K
      </a> |
      <a href='#' class='add-holding' data-portfolio-id={{id}} data-security-name='multi'>
        IRA
      </a>
  </div>

  <div class='security-module' id='portfolio-stocks-{{ id }}' style='display:none'>
    <table class='stock-content' id='portfolio-stock-holding-{{ id }}'>
      <thead>
        <tr><th colspan=8 class='portfolio-header'>Stocks</td></tr>
        <tr>
          <th></th>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Investment</th>
          <th>Cash Out</th>
          <th>Price</th>
          <th>Value</th>
          <th>Gain</th>
        </tr>
      </thead>
    </table>
  </div>


  <div class='security-module' id='portfolio-funds-{{ id }}' style='display:none'>
    <table class='fund-content' id='portfolio-fund-holding-{{ id }}'>
      <thead>
        <tr><th colspan=8 class='portfolio-header'>Funds</td></tr>
        <tr>
          <th></th>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Investment</th>
          <th>Cash Out</th>
          <th>Price</th>
          <th>Value</th>
          <th>Gain</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class='security-module' id='portfolio-etfs-{{ id }}' style='display:none'>
    <table class='etf-content' id='portfolio-etf-holding-{{ id }}'>
      <thead>
        <tr><th colspan=8 class='portfolio-header'>ETFs</td></tr>
        <tr>
          <th></th>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Investment</th>
          <th>Cash Out</th>
          <th>Price</th>
          <th>Value</th>
          <th>Gain</th>
        </tr>
      </thead>
    </table>
  </div>


  <div class='security-module' id='portfolio-bonds-{{ id }}' style='display:none'>
    <table class='bond-content' id='portfolio-bond-holding-{{ id }}'>
      <thead>
        <tr><th colspan=8 class='portfolio-header'>Bonds</td></tr>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Face Value</th>
          <th>Today's Value</th>
          <th>Gain</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class='security-module' id='portfolio-cds-{{ id }}' style='display:none'>
    <table class='cd-content' id='portfolio-cd-holding-{{ id }}'>
      <thead>
        <tr><th colspan=8 class='portfolio-header'>CDs</td></tr>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Face Value</th>
          <th>Today's Value</th>
          <th>Gain</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class='security-module' id='portfolio-multis-{{ id }}' style='display:none'>
    <table class='multi-content' id='portfolio-multi-holding-{{ id }}'>
      <thead>
        <tr><th colspan=8 class='portfolio-header'>Retirement</td></tr>
        <tr>
          <th></th>
          <th>Symbol</th>
          <th>Investment</th>
          <th>Cash Out</th>
          <th>Last Known Value</th>
          <th>Est. Current Value</th>
          <th>Est. Current Gain</th>
        </tr>
      </thead>
    </table>
  </div>

</div>