#profile
  = image_tag @user.image_url
  %table
    %tr
      %td{:colspan=>2}
        %form{:action => trust_path('.json'), :method=>'post'}
          %input{:type=>'hidden',:name =>'trust[user_id]',:value=>@user.id}
          %input{:type=>'hidden',:name =>'trust[level]',:value=>5}
          %button{:type => 'submit'} Test
    %tr
      %td Name
      %td=@user.name
    %tr
      %td Screen Name
      %td=@user.screen_name
    %tr
      %td Location
      %td=@user.location
    %tr
      %td Description
      %td=@user.description

  %p
    Invite as Friend

  = form_tag('/trust') do
    = hidden_field_tag :user_id, @user.id
    = submit_tag 'Send Friend Request'
