.container_16
  <!--start:content container -->
  .grid_18
    <!--start:left content grid -->
    .box-content
      <!--start:box-content -->

      %h3 Login With
      %a{:href=>"/auth/twitter"}
        = image_tag "/images/twitter.png"
      %a{:href=>"/auth/facebook"}
        = image_tag "/images/facebook.png"         
      %a{:href=>"/auth/google"}
        = image_tag "/images/google.jpeg"

      <!--end:box-content -->
      <!--end:left content grid -->

