.container_16
  <!--start:content container -->
  .grid_18
    <!--start:left content grid -->
    .box-content
      <!--start:box-content -->
      
      = render 'embed'
      <!--end:box-content -->
      <!--end:left content grid -->

