.container_16
  #friends
    %ul
      %li
        %a{:href=>"#tabs-1"}Following
      %li
        %a{:href=>"#tabs-2"}Friends
      %li
        %a{:href=>"#tabs-3"}Groups
    #tabs-1
      %table
        = render :partial => 'friend', :collection => current_user.following
    #tabs-2
      %table
        = render :partial => 'friend', :collection => current_user.friends

    #tabs-3
      %table

