%table{:id=>"profile-holding-#{profile.id}"}
  %thead

    %tr
      %th{:scope=>"col"}=profile.name
      %th{:scope=>"col"} Buy/Sell
      %th{:scope=>"col"} Shares
      %th{:scope=>"col"} Price 
      %th{:scope=>"col"} Investment
      %th{:scope=>"col"} Return
      %th{:scope=>"col"} Date
      %th{:scope=>"col"}
  %tbody
    = render :partial => "holding", :collection => profile.holdings
