<table id='profile-holding-<%= id %>'>
  <thead>
    <tr>
      <th scope="col"><%= name %></th>
      <th scope="col">Buy/Sell</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Investment</th>
      <th scope="col">Return</th>
      <th scope="col">Date</th>
      <th scope="col">
        <button class="add-holding" data-profile-id="<%= id %>" rel="facebox">Add Holding</button>
      </th>
    </tr>
  </thead>
</table>
