/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.facebox
 *= require jquery-ui-1.8.16.custom
 *= require 1140.css
 *= require jackedup
 *= require style
 *= require dashboard
 *= require trackers
 *= require hotlist
 *= require menu
 *= require messages
 *= require portfolios
 *= require reset
 *= require superfish
 *= require text
 *= require trackers
 *= require warmlist 
*/

body {
	margin:10px 0px; padding:0px;
	}
	
#Content {
	width:1024px;
	margin:0px auto;
	text-align:left;
	}

#main-logo {
  cursor: pointer
}

table tr.selectable {
  cursor: pointer
}

table tr.selectable:hover td {
	background: #d0dafd;
}

#warmlist .ui-tabs .ui-tabs-nav li a {
  padding: 4px;
}



#warmlist .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
 color: #459E00;
}

#warmlist .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: black;
}

.portfolio-header td.number{
  font-size: 21px;
}

.stories tr.accepted td{
  background: #e0f2d2;
}
.stories tr.started td{
  background: #f9eabd;
}
.stories tr.finished td{
  background: #f8f9a7;
}
.stories tr.delivered td{
  background: #cdeef7;
}
.stories tr.release td{
  background: #d4aaff;
}
.small_font {
  font-size: 10px;
}

.validation-error{
  color:red
}

