// Place all the styles related to the Trackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portfolio-content{
  text-align: center;
}


table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 2px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  thead{
  }
  tr.holding-tr{

    td{
      text-align:left;
      background: #cfeab9;
      font-size:16px;
      color:#64b0fc;

    }
  }
  td{
    text-align: center;
    padding: 2px;
    background: #fafaf4;
    color: black;

    .holding_name {
      background: #e3efe7;
      font-size: 14px;
    }
    .holding_buy_sell {
      width:250px;
      background: #e3efe7;
      .remove-holding{
        float: right;
      }
    }
  }
  td.holding-drawer{
    text-align: center;
    background: white;
    color: #014414;
    cusror:default;
  }
  th{
    text-align:center;
    font-size: 13px;
    font-weight: normal;
    background: #fafaf4;
    border-bottom: 3px solid #fff;
    color: #777;
    .remove-profile{
      float: right;
    }
    .remove-event{
      float: right;
    }
  }
  tr.super_head{
    th{
      text-align:center;
      border: 2px solid #d3e5d8;
    }
    th.name{
      font-size:16px;
      color:#c2def9;
      border-bottom:0px;
    }
  }
  tr.holding-header{
    cursor:pointer;
  }
}

#portfolio-show table tr.holding-header:hover td
{
	background: #d0dafd;
	color: #339;
}


#facebox .content {
  background-color: #f0f7f2;
	width: 635px;
  color: #5A698B;
  .submit {
    height: 29px;
    width: 330px;
    background: url(images/bg_submit.gif) no-repeat;
    padding-top: 5px;
    clear: both;
  } 
  .input {
    background-color: #fff;
    font: 11px/14px "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #5A698B;
    margin: 4px 0 5px 8px;
    padding: 15px;
    border: 1px solid #8595B2;
  }
  .textarea {
    border: 1px solid #8595B2;
    background-color: #fff;
    font: 11px/14px "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #5A698B;
    margin: 4px 0 5px 8px;
  }


}

.security-module {
  /* fallback */
  background-color: #fafaf4;
  padding: 3px;
  border: 1px solid #dfd9c3;


  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafaf4), to(#f5f3e5));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #fafaf4, #f5f3e5);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #fafaf4, #f5f3e5);

  /* IE 10 */
  background: -ms-linear-gradient(top, #fafaf4, #f5f3e5);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #fafaf4, #f5f3e5);

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}


.holding-drawer{
  table{
    thead{
      th{
        text-align:center;
        font-size: 13px;
        font-weight: normal;
        background: white;
        border:1px solid #d3e5d8;
        color: #777;
      }
      border-bottom: 1px solid #d3e5d8;;
    }
    td{
      border:1px solid #d3e5d8;
      background: white;
      color:#777;
    }
  }
}

a.add_portfolio_group_action{
  cursor:pointer;

}

td.positive{
  color: green;
}

td.negative{
  color: red;
}

.arrow{
 color: #00919F;
}

.overview{
  text-align:center;
}

table tr.holding-header:hover td {
	background: #d0dafd;
}

tr.small-table-header {
  font-size: 8px;
  td {
    color: #dfd9c3;
  }
}

.portfolio-header tr.clickable{
  cursor:pointer;
}

.portfolio-header tr.expandable table td{
  text-align: left;
}

.portfolio-header tr.expandable table, tbody, tr, td{
  vertical-align:top;
}

.portfolio-header table.point-data{
  background: white;
  td{
    background: white;
    border: 1px solid #dfd9c3
  }
}






