// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menu
{
 width: 300px;
 z-index:2;
 position: fixed;
 bottom:0;
 right:0;
}

#menu ul
{
  padding-right: 20px;
  padding-bottom: 30px;


}

#message_bar
{
  z-index:1;
  overflow: auto;
  width: 100%;
  position:fixed;
  bottom:0;
  ul
  {
    list-style:none;
  }
}

#message_bar .messages
{
  display:none;
  background: white;
  width: '100%';
  height: '100%';

}

#message_close_btn
{
  display:none;
}



#message_bar table td
{
  padding-left: 30px;
}



