<table id='portfolio-holding-<%= id %>'>
  <thead>
    <tr>
      <th scope="col"><%= name %></th>
      <th scope="col">Total Shares</th>
      <th scope="col">Total Investment</th>
      <th scope="col">Total Return</th>
      <th scope="col">Today's Price</th>
      <th scope="col">Today's Value</th>
      <th scope="col">Total Gain</th>
      <th scope="col">DΔ/WΔ/MΔ/YΔ</th>
    </tr>
  </thead>
</table>
