<div class='security-module portfolio-header' id='friend-portfolio-{{user_id}}'>
  <table>
    <thead>
      <tr class='small-table-header'>
        <td></td>
        <td>Plan</td>
        <td>Strategy</td>
        <td>Ratio</td>
        <td>Started</td>
      </tr>
      <tr>
        <td rowspan=2><h3>{{name}}</h3>
        <td>{{plan}}</td>
        <td>{{strategy}}</td>
        <td class='{{formatted_total_gain_ratio_class}} number'>{{total_gain_ratio}}%</td>
        <td>since {{started_at}}</td>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan=5 id='friend-portfolio-{{id}}-graph'>
      </td>
    </tr>
    </tbody>
  </table>
  Events in this Portfolio
  <table id='friend-events-for-portfolio-{{id}}'>
    <thead>
      <th>Symbol</th>
      <th>Action</th>
      <th>Date</th>
      <th>Price</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
