<div class='security-module portfolio-header' id='friend-portfolio-{{id}}'>
  <table>
    <thead>
    <tr>
      <td><h3>{{name}}</h3>
      <td>{{plan}}</td>
      <td>{{strategy}}</td>
      <td class='{{formatted_total_gain_ratio_class}} number'>{{total_gain_ratio}}%</td>
      <td>since {{started_at}}</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan=5 id='friend-portfolio-{{id}}-graph'>
      </td>
    </tr>
    </tbody>
  </table>
</div>