<td>
  <span class="table-button">{{screen_name}}</span>
  <br>
  <a href="#" class='accept-friendship' data-id={{id}}>accept</a>
  <a href="#" class='decline-friendship' data-id={{id}}>decline</a>
</td>

