%ul
  %li.selectable{'data-id' => compare.id, 'data-label' => compare.name}
    = "Growth Ratio for #{compare.name}"
    %table
      %tr
        %th D/Y
        %th %
        %th Dow%
        %th S&P%


