%ul
  %li.selectable{'data-id' => compare.id, 'data-label' => compare.name}
    = compare.name
    %table
      %tr
        %td 7d
        %td 30d
        %td 6mo
        %td 1yr
      %tr
        %td 50%
        %td 20%
        %td 0%
        %td 90%
