
#nav
  %ul
    %li
      %a{:href => '#show'} Show
    %li
      %a{:href => '#compare'} Compare

  #show
    %a.add_portfolio_group_action Add Portfolio


  #compare
    %a.add_portfolio_group_action Add Portfolio


