%ul.sf-menu
  <!--start:sf-menu -->
  %li{:class=>"current"}
    %a{:href=>"/auth/twitter"}
      = image_tag "/images/twitter.png"
  %li
    %a{:href=>"/auth/facebook"}
      = image_tag "/images/facebook.png"
  %li 
    %a{:href=>"/auth/google"}
      = image_tag "/images/google.png"


