
#nav
  %ul
    %li
      %a{:href => '#show'} Show
    %li
      %a{:href => '#compare'} Compare
    %li
      %a{:href => '#share'} Share

  #show
    %a.add_portfolio_group_action Add Portfolio


  #compare
    %a.add_portfolio_group_action Add Portfolio

  #share
    %a.add_portfolio_group_action Add Portfolio


