
.warmlist#warmlist-portfolios
  %ul
    %li
      %a{:href => '#list'} List
    %li
      %a{:href => '#compare'} Compare

  #list
    %a.add_portfolio Add Portfolio
    = render :partial => 'layouts/portfolio', :collection => current_user.portfolios


  #compare
    %a.add_portfolio Add Portfolio
    %h4 Growth
    = render :partial => 'layouts/compare', :collection => current_user.portfolios
    %h4 Income
    = render :partial => 'layouts/compare', :collection => current_user.portfolios
    %h4 Balanced
    = render :partial => 'layouts/compare', :collection => current_user.portfolios

