%ul.warmlist#warmlist-portfolios
  %li
    %h3 Portfolios
  %li
    Overview
  %li
    %h3 Add
  %li.add-stock{'data-portfolio-id' => 0}
    Add Stock
  %li.add-fund{'data-portfolio-id' => 0}
    Add Fund

%ul.warmlist#warmlist-groups
  %li
    %h3 Groups
  %li
    Portfolio
  %li
    Members
  %li
    Messages

%ul.warmlist#warmlist-friends
  %li
    %h3 Friends
  %li
    Members
  %li
    Messages