%ul.warmlist#warmlist-portfolios
  %li
    %h3 Portfolios
  %li.add-holding{'data-portfolio-id' => 0}
    Add Holding
  %li
    Today!
  %li
    Start
  %li
    Buy/Sell Events
  %li
    Groups

%ul.warmlist#warmlist-groups
  %li
    %h3 Groups
  %li
    Portfolio
  %li
    Members
  %li
    Messages

%ul.warmlist#warmlist-friends
  %li
    %h3 Friends
  %li
    Members
  %li
    Messages