%ul.warmlist#warmlist-portfolios
  %li
    %h3 Portfolios
  %li
    Overview
  %li
    %h4 Add Muni
  %li.add-holding.add-ira{'data-portfolio-id' => 0}
    Add IRA
  %li.add-holding.add-401k{'data-portfolio-id' => 0}
    Add 401K
  %li
    %h4 Add Secruity
  %li.add-holding.add-stock{'data-portfolio-id' => 0}
    Add Stock
  %li.add-holding.add-fund{'data-portfolio-id' => 0}
    Add Fund
  %li.add-holding.add-etf{'data-portfolio-id' => 0}
    Add ETF
  %li.add-holding.add-bond{'data-portfolio-id' => 0}
    Add Bond
  %li.add-holding.add-cd{'data-portfolio-id' => 0}
    Add CD


%ul.warmlist#warmlist-groups
  %li
    %h3 Groups
  %li
    Portfolio
  %li
    Members
  %li
    Messages

%ul.warmlist#warmlist-friends
  %li
    %h3 Friends
  %li
    Members
  %li
    Messages